


@font-face {
  font-family: 'russianrail-g-pro-medium';
  src: url('../fonts/russianrail-g-pro-medium.ttf') format('truetype');
}
@font-face {
  font-family: 'RussianRail-G-Pro-Bold_39007';
  src: url('../fonts/RussianRail-G-Pro-Bold_39007.ttf') format('truetype');
}
@font-face {
  font-family: 'RussianRail-G-Pro_39011';
  src: url('../fonts/RussianRail-G-Pro_39011.ttf') format('truetype');
}

