@import "fonts";

.scroll {
  &-container {
    overflow-x: scroll;
    overflow-y: hidden;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-content {
    display: flex;
    gap: 30rem;
    width: 200vw;
    height: 100%;
    padding: 30rem;
    overflow: hidden;
    .page {
      position: relative;
      width: 50%;
    }
    &-left {
      padding-right: 30rem;
      img.bag {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100rem;
        max-width: 280px;
      }
      .start-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 440px;
        border: none;
        background-color: transparent;
        span {
          display: block;
          width: 100%;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 130%;
          color: #000000;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        & img {
          display: block;
          width: 27px;
          height: 28px;
          margin-left: 11px;
        }
      }
      h2.title {
        display: block;
        width: 970px;
        height: 175px;

        font-family: 'RussianRail G Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        color: #000000;
        span {
          background-color: #E8331A;
          padding: 2rem 4rem;
          color: #fff;
        }
      }
      .railway {
        position: absolute;
        right: 0;
        height: 100%;
        &-img {
          width: 100%;
          height: 100%;
        }
        &-line1 {
          position: absolute;
          top: 1.5%;
          right: 20%;
          width: 70%;
          height: 2px;
          .trainPng {
            position: absolute;
            transform: translate(0, -50%);
            width: 20rem;
            height: 20rem;
          }
          .busPng {
            position: absolute;
            width: 20rem;
            height: 20rem;
            opacity: 0;
          }
        }
        .bobble {
          opacity: 0;
          position: absolute;
          right: 30%;
          top: 30%;
          font-size: 8rem;
          /* max-width: 735px; */
          width: 206rem;
          padding: 16px;
          background-image: url(../img/bobble.png);
          -webkit-background-size: 120%;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
    &-right {
      .railway2 {
        position: relative;
        height: 100%;
        &-img {
          position: absolute;
          bottom: 0;
          right: -30rem;
          width: 103%;
          height: 200rem;
        }
        .shipPng {
          position: absolute;
          bottom: 0;
          left: 50rem;
          width: 20rem;
          height: 20rem;
        }
        .planePng {
          position: absolute;
          bottom: 0;
          left: 50rem;
          opacity: 0;
          width: 20rem;
          height: 20rem;
        }
      }
      .right-title {
        display: block;
        position: absolute;
        top: 0;
        left: 20rem;
        font-family: 'RussianRail-G-Pro-Bold_39007', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14rem;
        line-height: 1.2;
        color: #000000;
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100rem;
  &-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 111;
    width: 80%;
  }
  &-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      position: absolute;
      background-image: url('../img/quotes.png');
      background-size: cover;
      background-repeat: no-repeat;
      width: 38rem;
      height: 30rem;
      top: 0;
      left: 27rem;
    }
    &-text {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      font-size: 8rem;
      font-family: 'Roboto',sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      color: #000000;
    }
  }
  &-button-next, &-button-prev {
    content: '';
    width: 30rem;
    height: 30rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(180deg, #496172 0%, #618298 100%);
    box-shadow: 4.08216e-16px 6.66667px 13.3333px rgba(17, 23, 27, 0.24), inset -1.27e-16px -2.07407px 2.07407px #465D6D, inset 1.27e-16px 2.07407px 2.07407px #65879E;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 15rem;
      height: 15rem;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
  &-button-next {
    right: -15rem;
    &:before {

      background-image: url('../img/slider-right.png');
    }
    &:after {
      content: '';
    }
  }
  &-button-prev {
    left: -20rem;
    &:before {
      background-image: url('../img/slider-left.png');
    }
    &:after {
      content: '';
    }
  }
  &-pagination {
    &-bullet {
      position: absolute;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      //display: block;
      width: 200rem;
      height: 50rem;
      top: 50rem;
      background-image: url('../img/avatar.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      display: none;
      &[aria-current='true'] {
        display: block;
      }
      &:before {
        position: absolute;
        display: block;
        font-size: 10rem;
        top: 4rem;
        right: 30rem;
      }
      &:after {
        position: absolute;
        display: block;
        max-width: 70%;
        font-size: 8rem;
        text-align: left;
        bottom: 10rem;
        right: -4rem;
      }
      &:nth-child(1) {
        &:before {
          content: "Евгений Константинов";
        }
        &:after {
          content: "Директор директорского направления ООО РЖД";
        }
      }
      &:nth-child(2) {
        &:before {
          content: "Николай Константинов";
        }
        &:after {
          content: "Директор директорского направления ООО РЖД";
        }
      }
      &:nth-child(3) {
        &:before {
          content: "Алексей Константинов";
        }
        &:after {
          content: "Директор директорского направления ООО РЖД";
        }
      }
      &-active {
      }
    }
  }
  &-scrollbar {
    display: none;
  }
}


.circle {
  position: absolute;
  bottom: 20%;
  left: 20%;
  width: 140px;
  height:140px;
  &-round {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted dimgrey;
  }
}



.center-dot {
  position: relative;
  width: 100%;
  height: 100%;
  animation: spin 9s linear;
  -webkit-animation: spin 9s linear;
}
.center-dot > * {
  position: absolute;
  left: 50%;
  top: 50%;
}
.one {
  width: 15rem;
  height: 15rem;
  border-radius: 40px;
  background: red;
  margin: -7rem 0 0 calc(50% - 7rem);
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}

//-----


.percentage {
  width:150px;
  height:150px;
}

.percentage svg {
  width:150px;
  height:150px;
}

.percentage svg circle {
  width: 150px;
  height:150px;
  fill:none;
  stroke-width: 4px;
  stroke:#fff;
  transform: translate(5px,5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap:round;

}

.box {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  top: 0;
}
.box .percentage svg circle:nth-child(1){
  stroke-dashoffset:0;
  stroke:transparent;
}

.box .percentage svg circle:nth-child(2){
  stroke-dashoffset: 0;
  /*   stroke-dashoffset: calc (440 - (440*87)/100); */
  stroke:red;
  animation: circle-draw 9s linear ;
  transition: 0.3s;
}

@keyframes circle-draw{
  0% {
    stroke-dashoffset: 440;
  }

  100% {
    stroke-dashoffset: 0;
  }
}


.percentage .number {
  position: absolute;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}

.circle-text {
  max-width: 60%;
  font-size: 12rem;
  font-weight: bold;
  text-align: center;
  .circle-subtext {
    font-size: 7rem;
    margin-top: 5rem;
  }
}



@import "media";




